auto-save-list
.cask/*
/eshell/history
/eshell/lastdir
projectile.cache
projectile-bookmarks.eld
ac-comphist.dat
places
newsticker
/auto/
/backups
tmp/
var/
.saves/
.mc-lists.el
.org-id-locations
recentf
.session
helm-adaptive-history
elpa
saveplace
/url
